@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');
@import './Variables.scss';

a.nav-link {
  margin: 0 20px;;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;

  &.acct-link {
    font-size: 1.5rem;
    margin: 0 200px;
  }
}

body,
html {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  align-items: center;
  background: url($image);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glass {
  align-items: center;
  background: url($image);
  background-position: center;
  background-size: cover;
  clip-path: inset(10em);
  display: flex;
  filter: blur($blur);
  height: 93vh;
  justify-content: center;
  width: 100vw;
}

.drop-shadow {
  align-items: center;
  display: flex;
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, $shadow-opacity));
  height: 100%;
  justify-content: center;
  width: 100%;

  &::before {
    border-left: 1px solid rgba(225, 225, 225, .1);
    border-right: 1px solid rgba(225, 225, 225, .3);
    border-top: 2px solid rgba(225, 225, 225, .2);
    content: '';
    display: block;
    height: calc(100% - 20em);
    position: absolute;
    width: calc(100% - 20em);
    z-index: 2;
  }

  > .main-title {
    color: red;
    font-size: 8.5em;
    font-weight: bolder;
    letter-spacing: .75em;
    padding-left: .75em;
    position: absolute;
    text-shadow: 1px 2px rgba(0,0,0, .2);
    z-index: 5;
  }

  > .links {
    color: white;
    display: flex;
    font-size: 3.5em;
    letter-spacing: 1.5rem;
    margin-top: 9rem;
    padding-left: .375em;
    position: absolute;
    z-index: 5;
  }
}

@media (max-width: 992px) {
  .glass {
    clip-path: inset(5em);
  }

  .drop-shadow {
    &::before {
      top: 5em;
      width: calc(100% - 10em);
    }

    > .main-title {
      font-size: 5em;
    }

    > .links {
      font-size: 3em;
      letter-spacing: 1.25rem;
      margin-top: 7rem;
    }
  }

  a.nav-link {

    &.acct-link {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .drop-shadow {
    > .main-title {
      font-size: 4em;
    }

    > .links {
      font-size: 1.5em;
      letter-spacing: .75rem;
    }
  }
}

@media (max-width: 576px) {
  .drop-shadow {
    > .main-title {
      font-size: 3em;
    }

    > .links {
      font-size: 1.5em;
      letter-spacing: .75rem;
    }
  }

  a.nav-link {

    &.acct-link {
      font-size: 1rem;
      margin: 0 30px;
    }
  }
}
