@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

.nav-link {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  cursor: default;
}

nav {
  background-color: rgba(20, 30, 250, .8);
  width: 100vw;
  z-index: 100;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-text {
    color: rgb(255, 255, 255);
}

span {
  font-size: 1.25rem;
}
