@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

.nav-link {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  cursor: default;
}

nav {
  background-color: rgba(4, 138, 255, .8);
  position: fixed;
  width: 100vw;
}
