a {
  font-weight: bolder;
  text-decoration: none;
}

footer {
  text-align: center;
  background: url('../images/paint-stroke.png');
  background-size: 150% 180%;
  background-position: center;
  color: white;
}

h5 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content {
  text-align: center;
}

.footer-row {
  background-color: transparent !important;
}
