@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');
@import '~bootstrap/scss/bootstrap';

form {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.form-group input {
  border: 0;
  border-bottom: 2px solid;
}

.toggle {
  background-color: 'white';
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
  justify-content: center;
  padding: 20px;
}

.up-and-in {
  background-color: 'white';
  border: 1px solid black;
  margin-top: 10vh;
  padding: 55px 50px;

  & h3 {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    justify-content: center;
    letter-spacing: 1.25rem;
  }
}
