@import '~bootstrap/scss/bootstrap';

// Sign-up and Sign-in Forms
div {
  &.row {
    margin-bottom: 38.75vh;
  }

  &.sign-in {
    margin-bottom: 49.75vh;
  }
}

.up-and-in {
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid black;
  font-weight: bolder;
  padding: 20px;

  & h3 {
    display: flex;
    justify-content: center;
  }
}
